/*
  Feuille de styles pour l'objet Aide
  
  @note: à mettre dans les librairies générales quand OK
  
*/
section#aide {
  position          :fixed;
  top               :1em;
  left              :1em;
  background-color  :white;
  border            :6px solid #606060;
  z-index           :3000;
  width             :30em;
  padding           :0;
  height            :90%;
  max-height        :90%;
  border-radius     :1.6em;
}
section#aide a { cursor:pointer; }

/*quand on la déplace*/
section#aide.moving {
  opacity           :0.8em;
}

/* BANDE DE TITRE */
section#aide div#aide_bande_titre {
  background-color    :#606060;
  color               :white;
  padding             :0.5em 1.3em;
  border-radius       :0.8em 0.8em 0 0;
}
section#aide div#aide_bande_titre span#section_aide_move_txt {
  position            :absolute;
  right               :3em;
  top                 :0.1em;
  font-style          :italic;
  font-size           :0.8em;
}

/* LES LIENS */
/* dans barre de titre */
section#aide div#aide_bande_titre a {
  color               :white !important;
}
/* dans le texte, vers une autre aide */
section#aide div.aide_text a.aide_lien {
  font-family         :inherit;
  font-size           :inherit;
  color               :#025AC7;
}
/* dans le texte, pour mettre le focus sur un élément */
section#aide div.aide_text a.aide_focus {
  color               : #025AC7;
  font-family         : Arial, Helvetica;
  font-size           : 0.9em;
}
section#aide div.aide_text a.aide_focus:before {
/*  content:"▶◀";*/
content:"▶";
}
/*section#aide div.aide_text a.aide_focus:after {
    content:"▶";
}
*/
/*
{
  NSFont = "ArialUnicodeMS 12.00 pt. P [] (0x4166080) fobj=0x416bf30, spc=3.33";
}
*/
/*section#aide div.aide_text a.aide_focus:before,
section#aide div.aide_text a.aide_focus:after {content:"#";}
*/
/* CONTENU */
section#aide div#aide_content {
  overflow            :auto;
  background-color    :white;
  max-height          :90%;
}
/* Un texte d'aide en particulier */
section#aide div#aide_content div.aide_text {
  background-color    :#F7F9FA;
  margin              :0;
  border-bottom       :3px solid #606060;
  padding             :0;
}
section#aide div#aide_content div.aide_text_content > div:not(.titre):not(.soustitre) {
  margin-bottom: 0.5em;
}
/* Le titre d'un texte d'aide */
section#aide div#aide_content div.aide_text .titre {
  font-family         :Verdana;
  font-size           :1.4em;
  margin-bottom       :1.2em !important;
}
section#aide div#aide_content div.aide_text td.titre {
  padding-bottom      :0.9em;
}

/* Un sous-titre */
section#aide div#aide_content div.aide_text div.soustitre {
  font-size           :1.2em;
  margin-top          :1.5em;
  margin-bottom       :1em !important;
}
/* La bande des boutons (close, etc.)*/
section#aide div#aide_content div.aide_text div.btns {
  font-size           :13.75px !important;
  text-align          :right;
  padding             :2px 0.5em;
}
section#aide div#aide_content div.aide_text div.btns a {
  color               : #B0B0B0;
}
section#aide div.aide_text_content {
  padding             :1em 2em;
}

/* Les pictos aide */
img.picto_aide {
  width               :16.8px;
  vertical-align      :middle;
  opacity             :0.616;
}