
/*
  
  Styles pour les tables formulaires
  
*/
table.form {
  width               :100%;
  border              :0;
}
table.form td {
  vertical-align      :top;
  font-family         :Verdana;
  font-size           :12.3px;
}
table.form td.libelle {
  color               :#999;
  font-style          :italic;
  font-size           :0.7em;
  text-align          :right;
  padding-right       :1em;
  
}

table.form input[type="text"], 
table.form input[type="password"], 
table.form textarea, 
input[type="text"].form, textarea.form
{
  width         :98%;
  font-family   :Verdana;
  font-size     :15.5px;
  padding       :3.2px;
  color         :#402095;
}

table.form input[type="text"].petit {
  font-size   :12px !important;
  padding     :0 !important;
  text-align  :center;
  width       :27px;
}
table.form .error, div.form .error {
  background-color      :#FFBDC3;
}
table.form select, table.form select option {
  font-size     :inherit;
  font-family   :inherit;
}
table.form tr.buttons, table.form tr.boutons {
  text-align          : right;
  padding-top         : 1em ;
}
table.form tr.buttons, table.form tr.boutons td {
  padding-top         :1.3em;
}