div#boite_admin {
  color       :black;
  left        :50em;
  position    :absolute;
  top         :1em;
  border      :1px solid #aeaeae;
  padding     :4px;
}
div#boite_admin a {
  color       :inherit !important;
}