AddHandler cgi-script .rb
Options +ExecCGI
Options -Indexes

DirectoryIndex index.rb

Options +FollowSymlinks
# RewriteEngine on

# En OFFLINE
# @note: pour la version ONLINE du fichier, il suffit d'ex-commenter
# cette ligne
#RewriteBase /~philippeperret/cgi-bin/phil

# Permet de préserver le fonctionnement des css, images, etc.
# Le "!-f" signifie que l'existence du fichier est vérifiée
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
