<div id="btns_exercices" class="right semicadreh">
  <!-- Speakers -->
  <a  id="btn_mute"
      href="#"
      onclick="return $.proxy(Metronome.toggleMute, Metronome)()"
      ><img id="speakers" data-src="speakers/on.png" /></a>
      
  <!-- Flottant à gauche -->
  <a  id="btn_exercices_move" 
      onclick="return $.proxy(Exercices.move, Exercices)()"
      class="btn fleft invisible"
      style="margin-top:-0.2em;"
      title="Reclasser les exercices dans un ordre différent"
      >BOUTON POUR DÉPLACER LES EXERCICES</a>

  <!-- Flottant à droite -->
  <a  id="btn_fullscreen"
      onclick="$.proxy(UI.fullscreen, UI)()"
      class="fright"
      title="Zen mode"
      ><img data-src="picto_fullscreen.png" /></a>
  
  <a  id="btn_seance_end"
      class="btn hidden"
      onclick="return $.proxy(Seance.stop, Seance, true)()"
      title="Interrompre le jeu de la suite d'exercice."
      >BOUTON POUR STOPPER LES EXERCICES</a>
      
  <a  id="btn_seance_pause"
      class="btn hidden"
      onclick="return $.proxy(Seance.pause, Seance)()"
      title="Mettre en pause la séance."
      >BOUTON PAUSE</a>

  <a  id="btn_seance_play"
      class="moyen btn violet invisible"
      onclick="return $.proxy(Seance.start, Seance)()"
      title="Passer d'un exercice à un autre, dans l'ordre du jour, en réglant chaque fois le métronome à la bonne vitesse, pour exemple ou suivi."
      >BOUTON POUR LANCER LA SÉANCE</a>
      
  <a  id="btn_exercice_create" 
      onclick="return $.proxy(Exercices.new, Exercices)()"
      class="btn invisible"
      title="Créer un nouvel exercice"
      >Nouvel exercice</a>
  
</div>