<div id="config_generale" class="center">

  <!-- VOLANT DE CONFIGURATION GÉNÉRALE -->
  <div id="div_volant_config_generale" style="position:relative;">
    <a  href="#" 
        id="btn_next_config_img"
        onclick="return $.proxy(Roadmap.Data.next_config_generale,Roadmap.Data)()"
        title=""
        >
        <img id="config_generale_volant" src="" />
        </a>
  </div>
  <!-- Bouton pour enregistrer la configuration générale -->
  <div id="config_generale_boutons">
    <a  href="#"
        id="btn_gconfig_save"
        class="btn normal"
        onclick="return $.proxy(Roadmap.save_general_config, Roadmap)()"
        aide-value="config-generale/presentation"
    ></a>
  </div>
  <!-- Résumé configuration générale -->
  <div id="config_generale_resume"></div>

  <!-- GAMME COURANTE -->
  <div id="div_cur_tone">
    <div id="gconfig_nom_cur_tone"></div>
    <img id="gconfig_img_cur_tone" src="" />
  </div>
  
</div>