<!-- 
  Formulaire de création d'un exercice
  
  + Table de recherche d'un exercice dans la database
  
  + Le div pour afficher la partition ou un extrait
  
-->
<!-- BOITE EXTRAIT -->
<div id="partition" style="opacity:0;display:none;">
  <a  href="#" class="btn_close" onclick="return $.proxy(Exercices.hide_partition,Exercices)()"></a>
  <img id="img_partition" src="" />
</div>

<!-- EXERCICE FORM -->
<table id="exercice_form" class="form" style="opacity:0;display:none;">
  <colgroup>
    <col width="80">
    <col width="auto">
  </colgroup>
  <tr>
    <td colspan="2" class="center">
      <div>
        <a  href="#" 
            class="btn nav bold"
            id="seach_ex_in_database"
            aide-value="dbe/presentation"
            onclick="return $.proxy(DBE.open, DBE)()"
            ></a>
      </div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Recueil</td>
    <td><input type="text" id="exercice_recueil" value="" /></td>
  </tr>
  <tr>
    <td class="libelle">Titre</td>
    <td>
      <input type="text" id="exercice_titre" value="" />
      <input type="hidden" id="exercice_id" value="" />
      <!-- 
        @TODO: Ici, on mettra la possibilité de choisir parmi des exercices
        déjà existants. Leur sélection réglera automatiquement tous les
        champ de l'exercice
        @note: je ne sais pas si c'est un select qu'il faut, car les exercices
        peuvent devenir extrêmement nombreux. Donc plutôt une liste dans une
        autre page, avec ici un champ simplement pour copier/coller l'ID
      -->
      <div style="display:none;">
        Choisir 
      </div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Auteur</td>
    <td><input type="text" id="exercice_auteur" value="" /></td>
  </tr>
  <tr>
    <td class="libelle">
      Infos
    </td>
    <td>
      <span id="span_obligatory">
        <input type="checkbox" id="exercice_obligatory">
        <label class="lab_obligatory" for="exercice_obligatory" aide-value="exercice/prop/obligatory"></label>
      </span>
      <span id="span_with_next">
        <input type="checkbox" id="exercice_with_next">
        <label class="lab_with_next" for="exercice_with_next" aide-value="exercice/prop/with_next"></label>
      </span>
      <span id="span_symetric">
        <input type="checkbox" id="exercice_symetric">
        <label class="lab_symetric" for="exercice_symetric" aide-value="exercice/prop/symetric"></label>
      </span>
    </td>
  </tr>
  <tr>
    <td class="libelle"><span class="lab_difficulties"></span></td>
    <td>
      <div style="position:relative;">
        <div class="left">
          <a  href="#"
              id="btn_toggle_types_exercices"
              class="petit btn lab_modify"
              aide-value="exercice/prop/type"
              style="display:inline-block;width:60px;"
              onclick="return $.proxy(Exercices.Edition.toggle_types, Exercices.Edition)();"
              ></a>
        </div>
        <div id="exercice_cbs_types" style="display:none;position:absolute;top:1.6em;"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Tempi</td>
    <td>
      <span class="lab_current"></span> <select id="exercice_tempo" class="tempo"></select> 
      Min. <select id="exercice_tempo_min" class="tempo"></select> 
      Max. <select id="exercice_tempo_max" class="tempo"></select>
    </td>
  </tr>
  <tr>
    <!-- Tonalité / Suite harmonique -->
    <td class="libelle lab_tone"></td>
    <td>
      <select id="exercice_tone" aide-value="exercice/prop/tone"></select>
      <select id="exercice_suite" aide-value="exercice/form/suite_harmonique"></select>
    </td>
  </tr>
  <tr>
    <td class="libelle">
      <span class="duree" aide-value="exercice/form/duree.html"></span>
    </td>
    <td>
      <span id="label_nb_mesures"></span>
      <input type="text" id="exercice_nb_mesures" class="petit" />
      <span id="label_nb_beats"></span>
      <input type="text" id="exercice_nb_temps" class="petit" aide-value="exercice/form/nb_beats" />
    </td>
  </tr>
  <tr class="buttons">
    <td></td>
    <td>
      <a  href="#"
          onclick="return $.proxy(Exercices.Edition.close, Exercices.Edition)()" 
          class="btn cancel fleft"
          ></a>
      <a  href="#"
          id="btn_exercice_save" 
          onclick="return $.proxy(Exercices.save, Exercices)()" 
          class="btn"
          ></a>
    </td>
  </tr>
  <tr>
    <td class="libelle">Image</td>
    <td>
      <input type="file" id="exercice_image" value="" />
    </td>
  </tr>
  <tr>
    <td class="libelle">Notes</td>
    <td><textarea id="exercice_note"></textarea></td>
  </tr>
  <tr>
    <td class="libelle">Import</td>
    <td>
      <div>
        <input type="text" id="path_to_exercice" value ="" style="width:200px;padding:1px;" />
        <a href="#" id="btn_import_exercice" class="btn" onclick="return $.proxy(Exercices.import,Exercices)();">Importer</a>  <aide value="exercice/import"></aide>
      </div>
    </td>
  </tr>
</table>
<!-- 
  BASE DE DONNÉES DES EXERCICES
  -->
<div id="database_exercices" style="opacity:0;display:none;">
  <div id="dbe_titre" class="titre"></div>
  <div id="dbe_div_nombres">
    <span id="dbe_nb_auteurs"></span> <span id="dbe_libelle_nb_auteurs"></span>, 
    <span id="dbe_nb_recueils"></span> <span id="dbe_libelle_nb_recueils"></span>,
    <span id="dbe_nb_exercices"></span> <span id="dbe_libelle_nb_exercices"></span>.
  </div>
  <div id="dbe_listing"></div>
  <div id="dbe_boutons">
    <a href="#" onclick="return $.proxy(DBE.close,DBE)()" class="close btn"></a>
    <a href="#" id="btn_dbe_add_selected" onclick="return $.proxy(DBE.add_selected,DBE)()" class="btn"></a>
  </div>
</div>