<!-- 
  Formulaire de création d'un exercice
  
  + Table de recherche d'un exercice dans la database
  
  + Le div pour afficher la partition ou un extrait
  
-->
<!-- BOITE EXTRAIT -->
<div id="partition" style="opacity:0;display:none;">
  <a  href="#" class="close" onclick="return $.proxy(Exercices.hide_partition,Exercices)()">x</a>
  <img id="img_partition" src="" />
</div>

<!-- EXERCICE FORM -->
<table id="exercice_form" class="form" style="opacity:0;display:none;">
  <colgroup>
    <col width="80">
    <col width="auto">
  </colgroup>
  <tr>
    <td class="libelle"></td>
    <td>
      <div>
        <a  href="#" 
            class="btn"
            id="seach_ex_in_database"
            onclick="return $.proxy(DBE.open, DBE)()"
            ></a>
      </div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Recueil</td>
    <td><input type="text" id="exercice_recueil" value="" /></td>
  </tr>
  <tr>
    <td class="libelle">Titre</td>
    <td>
      <input type="text" id="exercice_titre" value="" />
      <input type="hidden" id="exercice_id" value="" />
      <!-- 
        @TODO: Ici, on mettra la possibilité de choisir parmi des exercices
        déjà existants. Leur sélection réglera automatiquement tous les
        champ de l'exercice
        @note: je ne sais pas si c'est un select qu'il faut, car les exercices
        peuvent devenir extrêmement nombreux. Donc plutôt une liste dans une
        autre page, avec ici un champ simplement pour copier/coller l'ID
      -->
      <div style="display:none;">
        Choisir 
      </div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Auteur</td>
    <td><input type="text" id="exercice_auteur" value="" /></td>
  </tr>
  <tr>
    <td class="libelle">
      Infos
    </td>
    <td>
      <span id="span_obligatory">
        <input type="checkbox" id="exercice_obligatory">
        <label id="label_exercice_obligatory" for="exercice_obligatory"></label>
        <aide value="exercice/prop/obligatory"></aide>
      </span>
      <span id="span_with_next">
        <input type="checkbox" id="exercice_with_next">
        <label id="label_exercice_with_next" for="exercice_with_next"></label>
        <aide value="exercice/prop/with_next"></aide>
      </span>
    </td>
  </tr>
  <tr>
    <td class="libelle">
      Types
    </td>
    <td>
      <div class="left">
        <a  href="#"
            id="btn_toggle_types_exercices"
            class="petit btn"
            onclick="return $.proxy(Exercices.Edition.toggle_types, Exercices.Edition)();">modifier…</a> 
        <aide value="exercice/prop/type"></aide>
      </div>
      <div id="exercice_cbs_types" style="display:none;"></div>
    </td>
  </tr>
  <tr>
    <td class="libelle">Tempi</td>
    <td>
      Courant <select id="exercice_tempo" class="tempo"></select> 
      Minimum <select id="exercice_tempo_min" class="tempo"></select> 
      Maximum <select id="exercice_tempo_max" class="tempo"></select>
    </td>
  </tr>
  <tr>
    <td class="libelle">Suite</td>
    <td>
      <select id="exercice_suite">
        <option value="normale">Normale (définie par l'exercice)</option>
        <option value="harmonic">Harmonique (C->Am -> F->Dm etc. ou inverse)</option>
        <option value="whitekey">Touches blanches (“à la Hanon”)</option>
        <option value="none">Aucune</option>
      </select>
    </td>
  </tr>
  <tr class="buttons">
    <td></td>
    <td>
      <a onclick="return $.proxy(Exercices.Edition.close, Exercices.Edition)()" class="btn cancel"></a>
      <a id="btn_exercice_save" onclick="$.proxy(Exercices.save, Exercices)()" class="btn"></a>
    </td>
  </tr>
  <tr>
    <td class="libelle">Image</td>
    <td>
      <input type="file" id="exercice_image" value="" />
      <span class="mini italic">(Par exemple un extrait-partition)</span>
    </td>
  </tr>
  <tr>
    <td class="libelle">Notes</td>
    <td><textarea id="exercice_note"></textarea></td>
  </tr>
  <tr>
    <td class="libelle">Import</td>
    <td>
      <div>
        <input type="text" id="path_to_exercice" value ="" style="width:200px;padding:1px;" />
        <a href="#" id="btn_import_exercice" class="btn" onclick="return $.proxy(Exercices.import,Exercices)();">Importer</a>  <aide value="exercice/import"></aide>
      </div>
    </td>
  </tr>
</table>

<div id="database_exercices" style="opacity:0;display:none;">
  <div id="dbe_titre" class="titre"></div>
  <div id="dbe_listing"></div>
  <div id="dbe_boutons">
    <a href="#" onclick="return $.proxy(DBE.close,DBE)()" class="close btn"></a>
    <a href="#" id="btn_dbe_add_selected" onclick="return $.proxy(DBE.add_selected,DBE)()" class="btn"></a>
  </div>
</div>