<!-- Information exercice courant -->
<section id="current_exercice" class="invisible">
  <div id="curex_horloges">
    <span id="curex_horloge_seance"></span>
    <span id="curex_horloge_exercice"></span>
  </div>
  <div id="curex_indice">
    <span class="value">X</span>
  </div>
  &nbsp;/&nbsp;
  <div id="curex_total">
    <span class="value">X</span>
  </div>
  <div id="curex_indications">
    <span class="label"></span>
    <span class="value"></span>
  </div>
  <div id="curex_prev_ex_resultat">
    <!-- Ici les resultats concernant l exercice qui vient de se faire -->
    <b>Exercice pr&eacute;c&eacute;dent</b>
    <div id="curex_info_prev">---</div>
    Dur&eacute;es...<br />
    <span class="libelle">De jeu</span>
    <span id="curex_duree_jeu_prev" class="temps">---</span>
    <span class="libelle">Moyenne</span>
    <span id="curex_duree_moyenne_prev" class="temps">---</span>
    <div id="curex_difference_jeu">&nbsp;</div>
  </div>
</section>
