<!-- Main buttons -->
<section id="main_buttons">
  <div class="fleft center" style="width:auto;">
    <a id="btn_want_signin" href="#" onclick="return $.proxy(User.signin, User)()">S'identifier/S'inscrire</a>
  </div>
  <div class="fleft center" style="width:114px;">
    <a href="#" id="mail_to_phil" onclick="return $.proxy(User.mailto_phil,User)()"></a>
  </div>
</section>
<!-- Bande logo -->
<section id="bande_logo">
  <a 
    id="btn_change_lang" 
    href="#"
    onclick="return $.proxy(UI.change_lang, UI)();"
    >
      <img id="flag_lang" data-src="picto/drapeau/en.png" />
    </a>
  <div id="nom_site">Feuille de Route Musicale</div>
  <div id="subtitle_site" class="petit italic">Gestion au quotidien de ses exercices de musique.</div>
</section>