<!-- Logo métronome -->
<section id="sec_metronome">
  <img  id="metronome_anim" 
          data-src-alt="metronome/metro.gif" 
          data-src="metronome/metro_fixe.png" 
          onclick="$.proxy(UI.onclick_metronome_anim, UI)();"
          />
</section>
<!-- Information exercice courant -->
<section id="current_exercice" class="invisible">
  <div id="curex_indice">
    <span class="value">X</span>
  </div>
  &nbsp;/&nbsp;
  <div id="curex_total">
    <span class="value">X</span>
  </div>
  <div id="curex_indications">
    <span class="label"></span>
    <span class="value"></span>
  </div>
</section>
<!-- Partage -->
<section id="partage">
  <div class="fleft center" style="width:auto;">
    <a id="btn_want_signin" href="#" onclick="return $.proxy(User.signin, User)()">S'identifier/S'inscrire</a>
  </div>
  <div class="fleft center" style="width:114px;">
    <aide value="application/mail_to_phil.rb" id="mail_to_phil">Écrire à Phil</aide>
  </div>
</section>
<!-- Bande logo -->
<section id="bande_logo">
  <a 
    id="btn_change_lang" 
    href="#"
    onclick="return $.proxy(UI.change_lang, UI)();"
    >
      <img id="flag_lang" data-src="picto/drapeau/en.png" />
    </a>
  <div id="nom_site">Feuille de Route Musicale</div>
  <div id="subtitle_site" class="petit italic">Gestion au quotidien de ses exercices de musique.</div>
</section>