<!-- 
  Les informations sur le fichier contenant les donnees des exercices
-->
<div id="roadmap_specs-specs" style="display:none;">
  <table width="100%">
    <colgroup>
      <col width="100">
      <col width="260">
      <col width="260">
      <col width="20">
    </colgroup>
    <tr>
      <td id="td_label_roadmap" class="center">FEUILLE DE ROUTE</td>
      <td>
        <input 
            type="text"
            class="form"
            id="roadmap_nom" 
            value="" 
            onkeyup="$.proxy(Roadmap.onchange_nom, Roadmap, this.value)()"
            onchange="$.proxy(Roadmap.on_end_change_nom, Roadmap, this.value)()"
            onfocus="$.proxy(Roadmap.on_focus_nom, Roadmap)()"
            />
      </td>
      <td>
        <select id="roadmaps" onchange="$.proxy(Roadmap.open_by_menu, Roadmap, this.id)()"></select>
      </td>
      <td class="right">
        <a class="btn_close" 
            href="#" onclick="return $.proxy(Roadmap.set_div_specs,Roadmap)()"></a>
      </td>
    </tr>
    <tr id="specs_roadmap">
      <td></td>
      <td class="right">
        <a  id="btn_roadmap_open" 
            class="btn" 
            onclick="$.proxy(Roadmap.open, Roadmap)();"
        >Ouvrir</a>
        <a  id="btn_roadmap_create" href="#"
            class="btn"
            onclick="return $.proxy(Roadmap.create, Roadmap)()"
            title="Cr&eacute;er cette feuille de route"
        >Cr&eacute;er</a>
      </td>
      <td>
        <a  id="btn_roadmap_save" 
            class="btn off" 
            onclick="$.proxy(Roadmap.save, Roadmap)();"
        >...</a>
        <a  id="btn_init_roadmap" href="#"
            class="btn"
            onclick="return $.proxy(Roadmap.init_new, Roadmap)()"
            title="Cr&eacute;er un tout nouveau document vierge"
        >Init</a>
      </td>
      <td></td>
    </tr>
  </table>
</div>
<!--  
  Quand le div ci-dessus est ferme, le div ci-dessous est ouvert (et 
  vis-et-versa)
-->
<div id="open_roadmap_specs" style="display:none;" class="right">
  <a  href="#"
      id="btn_toggle_roadmap_specs"
      onclick="return $.proxy(Roadmap.set_div_specs, Roadmap)()"
  ><span class="lab_roadmap"></span>...</a>
  <a  href="#"
      id="btn_show_report"
      onclick="return $.proxy(Rapport.show, Rapport)()"
    ><span class="lab_rapport"></span></a>
  <a  href="#"
      id="btn_seance_show_form"
      class="bold"
      onclick="return $.proxy(Seance.show, Seance)()"
      ><span id="label_confection"></span></a>
  &nbsp;
</div>