<section id="seance" style="display:none;opacity:0;">
  <!-- 
    Formulaire pour définir une séance de travail
  -->
  <div id="seance_form" class="form">
    <div id="seance_form_titre" class="titre_panneau"></div>
    <div id="seance_form_champs">
      <!-- POUR REJOUER LA SÉANCE (IF ANY) -->
      <div id="seance_div_replay" style="display:none;">
        <a  href="#"
            id="btn_seance_replay"
            class="gros btn"
            onclick="return $.proxy(Seance.replay,Seance)()"
        ></a>
      </div>
      <!-- DUREE DE LA SEANCE -->
      <div id="div_seance_form_duree">
        <label id="seance_lab_duree" class="libelle"></label>
        <div id="seance_form_div_field_duree" class="field">
          <select id="seance_duree_heures"></select> hrs
          <select id="seance_duree_minutes"></select> mns
        </div>
      </div>
      
      <!-- DIFFICULTES À ABORDER -->
      <div id="div_seance_form_types">
        <label id="seance_lab_difficulties" class="libelle"></label>
        <div id="seance_form_types" class="field"></div>
      </div>

      <!-- OPTIONS -->
      <div id="div_seance_form_options">
        <label class="libelle">Options</label>
        <div id="seance_form_options" class="field">

          <div>
            <input type="checkbox" id="seance_option_aleatoire" checked="CHECKED" />
            <label id="seance_lab_opt_aleatoire" for="seance_option_aleatoire" aide-value="seance/option_aleatoire.html"></label>
          </div>

          <div>
            <input type="checkbox" id="seance_option_same_ex" checked="CHECKED" />
            <label id="seance_lab_opt_same_ex" for="seance_option_same_ex" aide-value="seance/option_same_ex.html"></label>
          </div>

          <div>
            <input type="checkbox" id="seance_option_obligatory" checked="CHECKED" />
            <label id="seance_lab_opt_obligatory" for="seance_option_obligatory" aide-value="seance/option_obligatory"></label>
          </div>

          <div>
            <input type="checkbox" id="seance_option_new_scale" checked="CHECKED" />
            <label id="seance_lab_opt_new_scale" for="seance_option_new_scale" aide-value="seance/option_new_scale.html"></label></span>
          </div>

          <div>
            <input type="checkbox" id="seance_option_next_config" checked="CHECKED" />
            <label id="seance_lab_opt_next_config" for="seance_option_next_config" aide-value="seance/option_next_config.html"></label></span>
          </div>

        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div id="seance_form_buttons" class="buttons">
      <a  href="#"
          id="btn_cancel_seance"
          class="fleft btn cancel"
          onclick="return $.proxy(Seance.cancel_seance, Seance)()"
          ></a>
      <a  href="#" 
          id="btn_seance_prepare" 
          class="gros btn"
          onclick="return $.proxy(Seance.build, Seance)()"
      ></a>
    </div>
  </div>
  
  <!-- 
    AFFICHAGE DES DONNÉES DE LA SESSION (AVANT DÉMARRAGE)
  -->
  <div id="seance_start" style="display:none;opacity:0;">
    <div id="seance_start_titre" class="titre_panneau"></div>
    <!-- DESCRIPTION DE LA SÉANCE AVANT DÉMARRAGE -->
    <div id="seance_start_description">
      <!-- Temps de travail -->
      <div>
        <span id="seance_lib_working_time" class="libelle capitalize"></span>
        <span id="seance_data_working_time" class="data capitalize"></span>
      </div>
      <!-- Gamme -->
      <div>
        <span id="seance_lib_scale" class="libelle capitalize"></span>
        <span id="seance_data_scale" class="data capitalize" style="display:inline-block;"></span>
        <div class="right">
          <img  id="seance_data_img_scale" src="" />
        </div>
      </div>
      <!-- Suite harmonique -->
      <div>
        <span id="seance_lib_suite_harmonique" class="libelle capitalize"></span>
        <span id="seance_data_suite_harmonique" class="data"></span>
        <div class="right">
          <img  id="seance_data_img_suite_harmonique" src="" />
        </div>
      </div>
      <!-- Direction (en descendant ou en montant) -->
      <div>
        <span id="seance_lib_downtoup" class="libelle capitalize"></span>
        <span id="seance_data_downtoup" class="data"></span>
        <img  id="seance_data_img_downtoup" src="" />
      </div>
      <!-- Liste triée des exercices -->
      <div style="margin-top:2em;">
        <span id="seance_lib_suite_exercices" class="libelle capitalize"></span>
        <div id="seance_data_suite_exercices"></div>
      </div>
    </div>
    <div class="buttons">
      <a  href="#"
          class="cancel btn fleft"
          onclick="return $.proxy(Seance.cancel_seance, Seance)()"
          ></a>
      <a  href="#" 
          id="btn_seance_start" 
          class="gros btn"
          onclick="return $.proxy(Seance.start, Seance)();"
          ></a>
    </div>
  </div>
  
  <!-- 
    Rapport de fin de séance de travail
  -->
  <div id="seance_end" style="display:none;opacity:0;">
    <div id="seance_end_titre" class="titre_panneau"></div>
    <div id="seance_end_description"></div>
  </div>
</section>