<section id="seance_travail" style="display:none;opacity:0;">
  <!-- 
    Formulaire pour définir une séance de travail
  -->
  <div id="seance_form" class="form">
    <div id="seance_form_titre">
      CONFECTION D'UNE SÉANCE DE TRAVAIL
    </div>
    <div id="seance_form_champs">
      <!-- les champs -->
      <div id="div_seance_form_duree">
        <label class="libelle">Durée de la séance de travail</label>
        <div id="seance_form_div_field_duree" class="field">
          <select id="seance_duree_heures"></select> hrs
          <select id="seance_duree_minutes"></select> mns
        </div>
      </div>
      <div id="div_seance_form_types">
        <label class="libelle">Difficultés à aborder en priorité</label>
        <div id="seance_form_types" class="field"></div>
      </div>
      <!-- OPTIONS -->
      <div id="div_seance_form_options">
        <label class="libelle">Options</label>
        <div id="seance_form_options" class="field">

          <span>
            <input type="checkbox" id="seance_option_obligatory" checked="CHECKED" />
            <label for="seance_option_obligatory">Inclure tous les exercices obligatoires</label>
          </span>

          <span>
            <input type="checkbox" id="seance_option_newgamme" checked="CHECKED" />
            <label for="seance_option_newgamme">Nouvelle gamme de travail <span class="petit">(par exemple pour les exercices “touches blanches” à la Hanon)</span></label>
          </span>


        </div>
      </div>
    </div>
    <div id="seance_form_buttons" class="buttons">
      <a  href="#" 
          id="btn_confectionne_seance" 
          class="btn"
          onclick="return $.proxy(Seance.build, Seance)()"
      >Prépare ma séance de travail !</a>
    </div>
  </div>
  
  <!-- 
    Rapport de début de séance de travail
  -->
  <div id="seance_start" style="display:none;">
    <div id="seance_start_titre">
      DÉMARRAGE DE LA SESSION DE TRAVAIL
    </div>
    <div id="seance_start_description">
      
    </div>
    <div class="buttons">
      <a  href="#" id="btn_start_seance" class="btn">Commencer !</a>
    </div>
  </div>
  
  <!-- 
    Rapport de fin de séance de travail
  -->
  <div id="seance_end" style="display:none;">
    
  </div>
  
</section>