div#div_cur_tone {
  margin-left       :2.4em;
  text-align        :center;
  background-color  :#eee;
  width             :230px;
  padding           :5px;
  border-radius     :18.8px;
  opacity           :1;
}
div#div_cur_tone div#gconfig_nom_cur_tone {
  font-weight       :bold;
  margin-bottom     :12px;
}
div#div_cur_tone img#gconfig_img_cur_tone {
/*  opacity           :0.67;*/
  width             :100%;
}

div#config_generale div#config_generale_resume {
  font-size         :10pt;
  margin            :12px 0 1em 3em;
  text-align        :justify;
  color             :#FFFFFF;
}
div#config_generale div#config_generale_boutons {
  margin-left       :3.5em;
}

div#config_generale img#config_generale_volant {
  margin-left   :34px;
  width         :216px;
}

div#config_generale label#config_generale_label_cbsave {
  color         :white;
  font-size     :0.85em;
}