div#div_cur_scale {
  margin-left       :0.7em;
  text-align        :center;
  background-color  :#eee;
  width             :230px;
  padding           :5px;
  border-radius     :18.8px;
  opacity           :0.59;
}
div#div_cur_scale div#gconfig_nom_cur_scale {
  font-weight       :bold;
  margin-bottom     :12px;
}
div#div_cur_scale img#gconfig_img_cur_scale {
/*  opacity           :0.67;*/
  width             :100%;
}