/* Titre du div principal */
div#database_exercices div.titre {
  font-weight     :bold;
  color           :#555;
}
div#database_exercices div#dbe_div_nombres {
  font-size       :11pt;
  font-style      :italic;
  margin-bottom   :0.4em;
}
/* Div des boutons utilitaires (haut de page)*/
div#database_exercices div#dbe_div_utils {
  font-size       :0.8em;
  margin-bottom   :0.9em;
  text-align      :right;
}
/* Div principaux des boutons */
div#database_exercices div#dbe_boutons {
  margin-top      :2em;
  text-align      :right;
}

/* Un div complet pour un auteur */
div.dbe_div_auteur {
  padding-bottom  :2px;
  border-bottom   :1px solid #999;
  margin-bottom   :6px;
}

/* Le nom de l'auteur des exercices/recueils */
div.dbe_div_auteur a.dbe_auteur {
  display         :block;
  font-size       :1.1em;
  font-weight     :bold;
  color           :black !important;
  margin-bottom   :0.6em;
}

div.dbe_div_auteur div.dbe_div_recueils {
  margin-left     :1em;
  padding         :8px;
}

/* Pour un titre de recueil lorsqu'il est en lien et en div simple */
div.dbe_div_auteur div.dbe_div_recueils div.titre_recueil {
  font-size       :1.16em;
  margin-bottom   :0.4em;
  font-style      :italic;
}
/*Le div contenant le recueil (titre et exercices)*/
div.dbe_div_auteur div.dbe_div_recueils div.dbe_div_recueil {
  margin-top      :0.6em;
}
div.dbe_div_auteur div.dbe_div_recueils div.titre_recueil a.recueil_title {
  color           :black !important;
  text-decoration :none;
}

/* Div d'un exercice dans le listing de la database */
div.dbe_div_auteur div.dbe_div_recueils div.dbe_div_exercices div.dbe_div_ex {
  margin-left     :1em;
  border-bottom   :1px solid #ddd;
}
/* Les checkbox pour choisir les exercices à importer */
div.dbe_div_auteur div.dbe_div_ex input[type="checkbox"].dbe_cb_ex {
  margin-right    :1em;
}
/* 
  Boite des infos
*/
div.dbe_div_ex div.dbe_infos_ex {
  font-size       :13.75px;
  margin-left     :2em;
  padding-bottom  :8px;
}
/* Tous les liens d'un div exercice dans le listing de la database */
div.dbe_div_auteur div.dbe_div_recueils div.dbe_div_exercices div.dbe_div_ex a {
  margin-left     :12px;
  font-size       :0.85em;
}

/* Par défaut, le contenu du recueil est masqué (on ne voit que son titre) */
div.dbe_div_recueil div.dbe_div_recueil_content {
  display:none;
}
/* Boutons au-dessus de la liste des exercices des recueils */
div.dbe_div_recueil div.dbe_div_recueil_content div.boutons_recueil {
  text-align      :right;
  margin-bottom   :8px;
}
div.dbe_div_recueil div.dbe_div_recueil_content div.boutons_recueil input[type="button"] {
  font-size       :0.6em !important;
}