/* Div pour afficher un extrait de partition */
div#partition {
  position          :fixed;
  top               :20%;
  left              :20%;
  background-color  :white;
  width             :auto;
  height            :auto;
  z-index           :1100;
  padding           :3.8em 3em 2em;
  border            :7px solid #454545;
}
div#partition a.close {
  position          :absolute;
  top               :4px;
  right             :8px;
  color             :black;
  font-size         :1.5em;
}

/*table du formulaire*/
table#exercice_form, div#database_exercices {
  position             :absolute;
  background-color     :whitesmoke;
  padding              :1em;
  margin-left          :12.3em;
  border-width         :5px;
  border-color         :#334E52;
  border-style         :solid;  
}
table#exercice_form {
  z-index   :1000;
  width     :512px !important;
}

/* Div de la database des exercices 
  @note: mise ici parce qu'elle doit ressembler au formulaire d'exercice
*/
div#database_exercices {
  min-height    :100%;
  z-index       :1001;
  width         :470px !important;
}

table#exercice_form div#exercice_cbs_types {
  background-color          :#E0E0E0;
  padding                   :0.5em;
  z-index                   :10;
}
table#exercice_form div#exercice_cbs_types span {
  margin-right              :0.5em;
  display                   :block;
  float                     :left;
  width                     :111px;
}
table#exercice_form div#exercice_cbs_types label {
  font-size                 :0.85em;
}
/*
  LISTE DES EXERCICES
*/
ul#exercices {
  position              :relative;
  list-style            :none ;
  padding               :1em  ;
  margin                :0    ;
  height                :25em ;
  max-height            :25em ;
  overflow-y            :scroll ;
  border-bottom         :18px solid #C07051;
}
ul#exercices li.ex {
  position              :relative;
  margin-bottom         :0.5em;
  padding               :0.5em;
  background-color      :white;
  clear                 :both;
  border-radius         :0.3em;
}
ul#exercices li.ex.selected {
  background-color       :#cdd7d7 !important;
}
/* Le Div de l'image quand l'exercice n'est pas sélectionné */
ul#exercices li.ex div.div_ex_image {
  float           :left;
  margin-right    :1em;
  max-height      :90px;
}
/* Le Div de l'image quand l'exercice est sélectionné */
ul#exercices li.ex.selected div.div_ex_image {
  float           :none !important;
  width           :520px;
  height          :300px;
  max-height      :300px;
  overflow-y      :scroll; /* au cas où l'image dépasserait */
  overflow-x      :hidden;
  border          :solid #5a7d6c;
  border-width    :7px 2px;
}
ul#exercices li.ex.selected div.ex_titre {
  font-size:13px !important;
  display:inline !important;
  margin-right:8px !important;
}
li.ex.selected div.ex_titre > span {font-size:14px !important;}
li.ex.selected span.ex_titre{display:inline;margin-left:1em;}
li.ex span.ex_titre{display:block;}

li.ex.selected div.div_up_tempo {
  margin-left :1em;
  font-weight :bold !important;
}
  
/* Vignette de l'exercice (mais contient l'extrait quand sélectionné)*/
li.ex img.ex_image {

}

li.ex a.ex_id {
  margin-right          :1em ;
  font-size             :12.3px;
}
li.ex span.ex_recueil,li.ex span.ex_auteur{font-size:15.5px;}
li.ex span.ex_recueil {
  font-variant          :small-caps;
  margin-right          :8px;
}
li.ex div.ex_titre {
  display               :inline-block;
  font-weight           :bold;
  font-size             :1.4em;
}
li.ex select.ex_tempo {
  font-family           :Verdana ;
  font-size             :1.4em ;
}
li.ex div.ex_tempo select.tones {
  margin-left           :30px;
  font-size             :1.3em;
}
li.ex div.ex_suite {
  width                 :31em;
  margin-top            :8px;
}
li.ex div.ex_note {
  width                 :50%;
  margin-top            :5px;
  padding               :4px;
  border                :1px solid #7BD161;
  font-size             :0.9em;
  background-color      :#D1EADE;
}

li.ex div.btns_edition {
  float                 :right ;
}
li.ex div.btns_edition a {
  display               :block ; /*  les uns au dessous  */
  margin-bottom         :4px   ; /*  des autres          */
  width                 :40px  ;
  font-size             :0.83em ;
}
li.ex div.btns_edition a.btn_edit {
  
}
li.ex div.btns_edition a.btn_del {
  background-color      :#f99 !important ;
  border-color          :#900 !important ;
}