/*
  Feuille de styles pour le gabarit général de la page
  
  
  Pour du vert clair : #cdd7d7 (mais pas grande surface)
*/
/*
  BODY
  ----
*/
body {
  position          :relative;
  max-width         :1200px;
  min-width         :400px;
}
div#background {
  opacity:0.049;
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/*
  Class générales
*/
div.titre_panneau {
  font-weight         :bold;
  margin-bottom       :1em;
  font-size           :1.3em;
}
/*
  CONFIGURATION GÉNÉRALE DE L'EXERCICE
  ------------------------------------
*/
div#config_generale {
  position        :absolute;
  left            :55em;
  top             :11em;
  padding         :0   ;
  width           :16em;
  opacity         :0.81;
}

/*
  ROADMAP
  --------
*/
section#roadmap {
  border-width        :3px;
  border-style        :solid;
  min-height          :100px;
  width               :19cm;
  margin-left         :10.9em;
  margin-top          :2.3em;
  border-radius       :15px 15px 0 0;
  
}

/* Section exercices */
section#section_exercices {
    padding             :0;
    border-width :0px 1px;
    border-style :solid;
}
/* Div général des specs de la roadmap */
div#roadmap_specs-specs {
  position      :relative;
}
/* Menu des roadmaps */
div#roadmap_specs select#roadmaps {
  font-size     :1.0em;
  width         :14em;
  background-color:white;
}
div#btns_exercices {
  height              :35px;
  padding             :0.3em 0 0 0.7em;
}
section#roadmap div#roadmap_specs {
/*  width               : 100% ;*/
  font-size           : 0.9em ;
  padding             : 0 0.7em 0.5em 0.7em ;
}
section#roadmap div#roadmap_specs input[type=text] {
  padding             : 2px ;
}

/*
    SECTION MAIN BUTTONS
    --------------------
*/
section#main_buttons {
  position            :absolute;
  left                :32em;
  top                 :34.4px;
  font-size           :15.0px;
  width               :30em;
}
section#main_buttons a {
  font-size           :inherit;
}

/*
  BANDE LOGO
  ----------
*/
section#bande_logo {
  height              :auto;
  width               :430px;
  border-radius       :0 0 1em 0;
  padding             :0.5em 1em 0.5em 1.1em;
  margin-bottom       :0.5em;
  opacity             :0.85;
}
section#bande_logo div#nom_site {
  font-size           : 1.63em ;
}
section#bande_logo a#btn_change_lang {
	float 				:right;
	margin-right	:4px;
	margin-top		:4px;
}
/*
  METRONOME
*/
section#sec_metronome {
  position          :absolute;
  top               :9.2em;
  left              :1.3em;
  opacity           :0.914;
  border-radius     :3.8em 0 3.2em 0;
}
/*Le métronome*/
section#sec_metronome img#metronome_anim {
  padding           :0.8em;
  width             :111px;
}

a#btn_roadmap_save {
  width               : 70px  ;
  float               : right ;
  display             : block ;
  margin-top          : -5px  ; /* pour aligner */
}

/* Drapeau pour autre langue */
img#flag_lang {
  width               :28px;
  margin-left         :12px;
  margin-top          :-5px;
}

/*
  SECTION DONATION
*/
section#donation {
  
}

div#open_roadmap_specs {
  padding-top     :4px;
}
div#open_roadmap_specs a {
  display       :block;
  float         :right;
  font-family   :Verdana;
  font-variant  :small-caps;
  font-size     :0.8em;
  margin-right  :1em;
  padding       :1px 8px;
  text-align    :center;
}

/* TITRES DE SECTIONS */
div.titre_section {
  font-family   :Verdana;
  font-size     :16pt;
}

/*
  SPEAKERS
*/
a#btn_mute {
  float       :left;
}
img#speakers {
  width     :27.9px;
}

/*
  BOUTON POUR SE CONNECTER/DÉCONNECTER
*/
a#btn_want_signin:focus {
  border-width :1px;
  border-style :solid;
}