/*
  Feuille de styles pour le gabarit général de la page
  
  
  Pour du vert clair : #cdd7d7 (mais pas grande surface)
*/
/*
  BODY
  ----
*/
body {
  position          :relative;
  max-width         :1200px;
  min-width         :400px;
  background-color  :#607060;
/*  background-image  : url('../../../img/fond_bois.jpg');*/
}

/*
  Class générales
*/
div.titre_panneau {
  font-weight         :bold;
  margin-bottom       :1em;
  font-size           :1.3em;
}
/*
  CONFIGURATION GÉNÉRALE DE L'EXERCICE
  ------------------------------------
*/
div#config_generale {
  position        :absolute;
  left            :55em;
  top             :11em;
  padding         :0   ;
  width           :16em;
  opacity         :0.81;
}

/*
  ROADMAP
  --------
*/
section#roadmap {
  border              :3px solid #FFFFFF;
  min-height          :100px;
  width               :19cm;
  margin-left         :10.9em;
  margin-top          :2.3em;
  border-radius       :15px 15px 0 0;
  
}

/* Section exercices */
section#section_exercices {
    padding             :0;
    background-color    :#C07051;
}
/* Les fonds foncés */
div#roadmap_specs {
  background-color      :#C07051;
}
/* Div général des specs de la roadmap */
div#roadmap_specs-specs {
  position      :relative;
}
/* Menu des roadmaps */
div#roadmap_specs select#roadmaps {
  font-size     :1.3em;
  width         :14em;
}
div#btns_exercices {
  height              :35px;
  background-color    :#9E5600;
  padding             :0.3em 0 0 0.7em;
}
section#roadmap div#roadmap_specs {
/*  width               : 100% ;*/
  font-size           : 0.9em ;
  padding             : 0 0.7em 0.5em 0.7em ;
  color               : white ;
  border-radius       : 15px 15px 0 0 ;
}
section#roadmap div#roadmap_specs input[type=text] {
  padding             : 2px ;
}

/*
    SECTION PARTAGE
    ---------------
*/
section#partage {
  position            :absolute;
  left                :24.9em;
  top                 :34.4px;
  font-size           :15.0px;
  width               :30em;
}
section#partage a {
  color               :white !important;
  font-size           :inherit;
}

/*
  BANDE LOGO
  ----------
*/
section#bande_logo {
  background-color    :#000000;
  height              :auto;
  width               :332px;
  border-radius       :0 0 1em 0;
  padding             :0.5em 0 0.5em 1.1em;
  margin-bottom       :0.5em;
  opacity             :0.85;
  color               :#BFB96A;
}
section#bande_logo div#nom_site {
  font-size           : 1.23em ;
}
section#bande_logo a#btn_change_lang {
	float 				:right;
	margin-right	:4px;
	margin-top		:4px;
}
/*
  METRONOME
*/
section#sec_metronome {
  background-color  :#005847;
  border-radius     :3.8em 0 3.2em 0;
  top               :5.5em;
  left              :1.3em;
  position          :absolute;
  opacity           :0.914;
}
/*Le métrodonme*/
section#sec_metronome img#metronome_anim {
  padding           :0.8em;
  width             :111px;
}

a#btn_save_roadmap {
  width               : 70px  ;
  float               : right ;
  display             : block ;
  margin-top          : -5px  ; /* pour aligner */
}

/* Drapeau pour autre langue */
img#flag_lang {
  width               :28px;
  margin-left         :12px;
  margin-top          :-5px;
}
/*
  SECTION DONATION
*/
section#donation {
  
}

div#open_roadmap_specs {
  padding-top     :4px;
}
div#open_roadmap_specs a {
  display       :block;
  float         :right;
  font-family   :Verdana;
  font-variant  :small-caps;
  font-size     :0.8em;
  color         :#FFE0A1 !important;
  margin-right  :1em;
  padding       :1px 8px;
  text-align    :center;
}