/*
  Feuille de style pour les paramètres (config générale, etc.)
*/
/* Le DIV contenant la définition d'un paramètre */
div.param {
  padding           : 0.5em ;
  margin            : 0.5em ;
  border-width      : 1px;
  border-style      : solid ;
  border-radius     : 8px ;
  width             : 90% ;
}
div.param span.titre {
  display           : block;
  font-style        : italic;
  font-weight       : bold;
}
div.param span.valeur {
  display         : block ;
}
