/*
  Tout ce qui concerne la séance de travail (formulaire, rapport, etc.)
*/
section#seance {
  padding             :1em;
  background-color    :white;
  position            :relative;
  z-index             :1050;
  width               :91%;
}
section#seance div#seance_start,
section#seance div#seance_end,
section#seance div#seance_form {
  position          :absolute;
  top               :0;
  left              :0;
  padding           :1em;
  background-color  :white;
  width             :100%;
}

section#seance div#seance_form_types {
  padding             :1em;
  background-color    :#ECECEC;
  font-size           :0.9em;
}

section#seance div#seance_form div#seance_form_titre {

}
section#seance div#seance_form div#div_seance_form_duree {
  margin-bottom       :2em;
}

/* Les libellés */
section#seance div#seance_form label.libelle {
  display             :block;
  font-size           :1.1em;
  font-weight         :bold;
  font-size           :1.1em;
  font-style          :italic;
  margin-bottom       :0.5em;
  color               :#659460;
}
div#div_seance_form_duree label.libelle {
  float               :left;
  margin-right        :3.5em;
  padding-top         :11px;
}
section#seance div#seance_form div#seance_form_div_field_duree {
  font-size       :1.7em;
}
section#seance div#seance_form div#seance_form_div_field_duree select {
  font-size       :1.0em;
}

section#seance div#seance_form div#div_seance_form_options {
  margin-top      :1em;
}
section#seance div#seance_form div#seance_form_options > div {
  float           :left;
  width           :33%;
}
section#seance div#seance_form_types > span {
  display       :block;
  float         :left;
  margin-right  :1em;
  width         :115.9px;
}
/* Le div avec le bouton "Replay" */
section#seance div#seance_form div#seance_div_replay {
  text-align    :right;
  padding       :0 0 1.5em;
}
/* Pour les résultats calculés de la session de travail */
section#seance div#seance_start_description span.data {
  font-size     :1.2em;
  font-weight   :bold;
}
/* Contient le temps calculé pour la séance */
section#seance span#seance_data_working_time {
}
section#seance div#seance_start div#seance_start_description > div {
  margin-top    :0.6em;
}
section#seance div#seance_start div#seance_start_description {
  padding       :2em;
}

section#seance div#seance_start_description span.libelle {
  display         :inline-block;
  font-weight     :bold;
  width           :150px;
  color           :#55A555;
}
section#seance img#seance_data_img_tone {
  width           :300px;
}
section#seance img#seance_data_img_downtoup{width:30px;vertical-align:middle;}