/*
  Les styles généraux propres à l'interface
*/

span.horloge {
  display     :inline-block;
/*  width             : 5em ;*/
  font-family       : Courier;
  font-size         : 10pt;
  background-color  : black;
  color             : white;
  padding           : 2px 4px;
}

span.suivi_by_aide a.to_help {
  visibility      :hidden;
  margin-left     :5px;
}
span.suivi_by_aide a.to_help img {
  opacity         :0.9 !important;
}
span.suivi_by_aide:hover a.to_help {
  visibility      :visible;
}

/*
  Tables des raccourcis clavier
  @see UI.Shortcuts (building)
*/
div.table_shortcuts {
  font-size       :0.81em;
  border-width    :1px;
  border-style    :solid;
  padding         :0.5em;
}
div.table_shortcuts div.titre {
  font-weight     :bold;
}
/* Shortcut list */
div.table_shortcuts div.shortcuts{
  margin-top      :4px;
}
/*Un shortcut*/
div.table_shortcuts div.shortcut {
  display         :inline-block;
  border-width    :1px;
  border-style    :solid;
  padding         :4px 8px;
  margin-right    :8px;
}
div.table_shortcuts span.key {
  margin-right    :2px;
}
div.table_shortcuts span.key img {
  vertical-align  :middle;
  margin-right    :4px;
}
div.table_shortcuts span.effect {
  margin-right    :0px;
}
